#root {
  width: 100vw;

  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
.nav_sub {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100vw;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}
#navbar {
  height: 80px;

  top: 0px;

  width: 60%;
  min-width: 1100px;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
a {
  color: #000;
  font-weight: 620;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.active {
  color: #2774ae !important; /* xanh dương đẹp */
}
.logo {
  height: 80px;
}
@keyframes pulse-blue {
  0% {
    background-color: #4fc3f7; /* xanh nhạt */
  }
  50% {
    background-color: #1e3a8a; /* xanh đậm */
  }
  100% {
    background-color: #4fc3f7;
  }
}
.quote-button {
  animation: pulse-blue 2s infinite ease-in-out;
  /* position: fixed; */

  margin-left: 30px;
  background-color: #0288d1; /* xanh dương */
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0 4px 12px rgba(0, 136, 209, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quote-button:hover {
  background-color: #0277bd;
}

.quote-button .icon {
  font-size: 16px;
}
.home {
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* căn giữa ngang */
  align-items: center; /* căn giữa dọc */
  overflow-x: hidden !important;
}
.home_gioithieu {
  position: relative;
  min-height: 400px;
  max-width: 600px;
  color: #000;
  h2 {
    font-size: 48px;
  }
  h4 {
    font-weight: 400;
    font-size: 20px;

    text-align: left;
  }
}

.lienhe {
  width: 100%;
  display: flex;
  flex-direction: column; /* ← Chia các phần tử theo chiều dọc */
}
.contact_sub {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #2774ae;
}
.contact {
  display: flex;
  justify-content: space-evenly;
  background-color: #2774ae;
  width: 70%;
  min-width: 1100px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
  text-align: left;
}

.contact-item {
  display: flex;
  align-items: center;

  gap: 12px;
  border-right: 1px dashed rgba(255, 255, 255, 0.5) !important;
  padding: 0 20px;
}

.contact-item:last-child {
  border-right: none;
}

.contact-icon {
  font-size: 48px;
}
.footer {
  background-image: url("./img/bra.png"); /* Đường dẫn ảnh */
  background-color: #1e1e1e; /* fallback nếu ảnh không tải được */
  background-size: cover; /* hoặc contain / auto */
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  padding-top: 40px;
  font-size: 14px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  flex-wrap: wrap;
}

.footer-col {
  flex: 1;
  min-width: 250px;
  a {
    color: white;
  }
  a:hover {
    color: #0277bd;
  }
}

.footer-col h3 {
  margin-bottom: 12px;
  border-bottom: 1px solid #444;
  padding-bottom: 4px;
  font-size: 16px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0 0 12px 0;
}

.footer-col ul li {
  margin-bottom: 6px;
  line-height: 1.5;
}

.social-icons {
  margin-top: 12px;
  display: flex;
  gap: 12px;
  font-size: 20px;
}

.fb-image {
  width: 100%;
  max-width: 250px;
  margin-bottom: 10px;
}

.cert-image {
  width: 120px;
}

.footer-bottom {
  text-align: center;
  background-color: #2774ae;
  padding: 10px;
  font-weight: bold;
  margin-top: 20px;
}
.box_xaynha {
  background-color: #2774ae;
  width: 100%;
  margin-top: 24px;
  padding-bottom: 24px;
}
.home_xaynhatrongoi {
  min-height: calc(100vh - 508px);
  margin-top: 70px;
  background-color: #2774ae;
}
.suachua {
  min-height: calc(100vh - 508px);
  margin-top: 120px;
  width: 1400px;
}
.Slie {
  width: 100vw; /* hoặc 80vw, tuỳ ý */
  aspect-ratio: 16 / 9; /* giữ đúng tỷ lệ 16:9 */
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  .hex-wrapper {
    position: absolute;
    bottom: 15%; /* hoặc 10% tùy vị trí mong muốn theo chiều cao của .Slie */
    left: 5%;
    transform: translateX(-50%);
    z-index: 9999;
    width: 15%;
  }
}
.Slie_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home_gioithieu {
  display: flex;
  width: 70%;

  min-width: 1100px;
  margin-top: 120px;
}

.img_tg {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  margin: 12px;
}
.lienhe_page {
  position: relative;
  margin-top: -360px;
  z-index: 11;
}
.contact-form {
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
  background-color: white;
  padding-top: 12px;
  margin-top: -160px;
}

.contact-form h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 4px;
}

.underline {
  width: 40px;
  height: 3px;
  background-color: #ccc;
  border: none;
  margin: 0 auto 20px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-form input,
.contact-form select {
  padding: 12px;
  font-size: 16px;
  border: 1px solid rgb(126, 113, 113);
  border-radius: 4px;
}

.contact-form button {
  padding: 14px;
  background-color: #0288d1;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background-color: #026ba1;
}
.support-wrapper {
  display: flex;
  justify-content: center;
  gap: 0;
  background-color: none;
  padding: 40px 20px;
  flex-wrap: wrap;
}

.support-box {
  flex: 1;
  min-width: 300px;
  max-width: 480px;
  text-align: center;
  background-color: white;
  padding: 24px;
  padding-bottom: 144px;
}

.support-box h4 {
  font-size: 32px;

  font-weight: bold;
  margin-bottom: 8px;
}

.support-box p {
  font-size: 20px;
  color: #444;
  margin-bottom: 16px;
}

.support-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 999px;
  background-color: #2774ae; /* vàng nâu */
  color: white;
  font-weight: bold;
  gap: 8px;
  font-size: 20px;
  cursor: pointer;
}

.support-button svg {
  font-size: 16px;
}
.img_gt_4 {
  width: 300px;
  height: 500px;
  margin-top: 40px;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 80px;
}
.img_gt_5 {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  margin-top: 40px;
}
.img_gt_4 {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.img_gt_4:hover {
  transform: scale(1.1); /* Zoom 10% khi hover */
}
.img_gt_5 {
  transition: transform 0.3s ease-in-out;

  cursor: pointer;
}

.img_gt_5:hover {
  transform: scale(1.1); /* Zoom 10% khi hover */
}
.custom-button {
  background-color: #2774ae; /* màu xanh dương */
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
}

.custom-button .arrow {
  margin-left: 6px;
  font-weight: normal;
}
.custom-button:hover {
  background-color: #005fa3; /* đậm hơn khi hover */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.section {
  text-align: center;
  max-width: 1240px;
  margin: auto;
  color: #000;
}

.section h2 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 8px;
  position: relative;
  display: inline-block;
  margin-top: 30px;
  color: white;
}

.section h2::before,
.section h2::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 60px;
  height: 1px;
  background-color: #ccc;
}

.section h2::before {
  right: 100%;
  margin-right: 16px;
}

.section h2::after {
  left: 100%;
  margin-left: 16px;
}

.section p {
  font-size: 20px;
  color: white;
  margin-bottom: 40px;
}

.features {
  display: flex;
  width: 1240px;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  height: 326px;
  padding-top: 20px;
  border-radius: 10px;
  padding-bottom: 50px;
}

.feature-box {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 20px;
  width: 220px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  margin-bottom: 20px;
  height: 240px;
}

.feature-box:hover {
  transform: translateY(-5px);
  border: 2px solid #2774ae;
}

.feature-icon {
  font-size: 40px;
  color: #2774ae;
  margin-bottom: 10px;
}

.feature-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 10px;
}

.feature-description {
  font-size: 20px;

  color: #555;
}
.suachua_sub {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 40px 0;
}

.suachua_sub::before,
.suachua_sub::after {
  content: "";
  width: 40px; /* Độ dài đường kẻ */
  height: 1px;
  background-color: #ccc;
}

.suachua_subtext {
  padding: 0 16px;
  font-weight: bold;
  font-size: 48px;
  color: #000;
  text-transform: uppercase;
}
.font_def {
  font-size: 20px;

  color: #000;
}
.home_gioithieu_page {
  display: flex;
  justify-content: center;
}
.suachua_page {
  display: flex;
  justify-content: center;
}

.bang {
  width: 1200px;
  margin-top: 36px;
}
.uudiem {
  color: #fff;
  font-size: 20px;

  background-color: #2774ae;
  font-weight: 700;
}
.nhuocdiem {
  color: #fff;
  font-size: 20px;

  background-color: #2774ae;
  font-weight: 700;
}
.title {
  color: #fff;
  font-size: 20px;

  background-color: #2774ae;
  font-weight: 700;
  margin-top: 24px;
}
.xaynhatrongoi_page {
  display: flex;
  flex-direction: column;
  justify-content: center; /* căn giữa ngang */
  align-items: center; /* căn giữa dọc */
}
td {
  color: #000;
  font-size: 20px;
}
.quytrinh {
  margin-top: 36px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* căn giữa ngang */
  align-items: flex-start; /* căn giữa dọc */
  h3 {
    margin-left: 7%;
    color: #2774ae;
    text-transform: uppercase;
    font-size: 36px;
  }
  div {
    display: flex;
    color: #000;
    font-size: 20px;
  }
  h4 {
    color: #2774ae;
    font-size: 20px;
    margin: 18px;
    min-width: 80px;
  }
  p {
    text-align: left;
  }
}
.xaynha {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center; /* căn giữa ngang */
  align-items: center; /* căn giữa dọc */
}

.noibat {
  margin-top: 36px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* căn giữa ngang */
  align-items: flex-start; /* căn giữa dọc */
  h3 {
    color: #2774ae;
    text-transform: uppercase;
    font-size: 36px;
  }
  h6 {
    font-size: 20px;
    color: #000;
    font-weight: 400;
    margin: 6px;
    display: flex;
    line-height: 20px;
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: center; /* Căn giữa ngang (nếu muốn) */
  }
  div {
    margin-right: 32px;
    margin-left: 32px;
  }
}
.cauhoithuonggap {
  margin-top: 36px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* căn giữa ngang */
  align-items: flex-start; /* căn giữa dọc */
  margin-bottom: 40px;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center; /* căn giữa ngang */
    align-items: flex-start; /* căn giữa dọc */
    h6 {
      color: #000;
      font-size: 20px;
      font-weight: 400;
      margin: 24px;
      text-align: left;
    }
  }
  h3 {
    margin-left: 7%;
    color: #2774ae;
    text-transform: uppercase;
    font-size: 36px;
  }
  h4 {
    font-size: 28px;
    color: #2774ae;
    font-weight: 750;
    margin: 6px;
    display: flex;
    line-height: 20px;
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: center; /* Căn giữa ngang (nếu muốn) */
  }
}

.backgrond_lh {
  z-index: -1;
}

.quote-form-container {
  max-width: 400px;
  margin: 0 auto;
  background-color: #2774ae;
  color: white;
  border-radius: 10px;
  padding: 24px;
  font-family: Arial, sans-serif;
}

.quote-form-header h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.quote-form-hotline {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.quote-form-header hr {
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin: 16px 0;
}

.quote-form-note {
  font-size: 20px;

  margin-bottom: 20px;
}

.quote-form-body {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 20px;
}

.quote-form-body input,
.quote-form-body select {
  padding: 12px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  color: #333;
}

.quote-form-body input::placeholder {
  color: #888;
}

.quote-form-body button {
  background-color: #005bb5;
  color: white;
  font-weight: bold;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.quote-form-body button:hover {
  background-color: #004799;
}
.quote-form-wrapper {
  position: absolute;
  z-index: 999;
  margin-top: 10px;
}

.quote-form-wrapper.hide {
  display: none;
}

.quote-form-wrapper.show {
  display: block;
}
.quote-wrapper {
  position: relative;
}

.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); /* nền mờ */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.gioithieu h2 {
  font-size: 48px;
  margin-top: 0px;
}
.gioithieu {
  position: relative;
  h2 {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 800;
    color: #0a0a0a;
    line-height: 1.4;
  }

  h2 span {
    display: inline-block;
    transition: transform 0.3s ease;
  }

  h2 span:hover {
    transform: scale(1.05);
    color: #2774ae;
  }
  div {
    position: absolute;
  }
}
.img_tg {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.img_tg:hover {
  transform: scale(1.1); /* Zoom 10% khi hover */
}
.feature-blob {
  padding: 20px;
  background: #2774ae;
  color: black;
  width: 250px;
  min-height: 250px;
  position: relative;
  clip-path: polygon(
    10% 0%,
    90% 5%,
    100% 25%,
    95% 90%,
    70% 100%,
    20% 95%,
    0% 60%,
    5% 10%
  );
  transition: all 0.4s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.feature-blob:hover {
  clip-path: polygon(
    5% 10%,
    95% 0%,
    100% 30%,
    90% 95%,
    60% 100%,
    10% 90%,
    0% 50%,
    10% 10%
  );
}

.feature-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.fb:hover {
  color: #53eb8d;
}
.xe {
  position: absolute;
  width: 500px;
  left: -200px;
  bottom: -24px;
}
.vertical-line {
  top: 0px;
  right: 0px;
  width: 10px; /* độ rộng của đường dọc */
  height: 40px; /* chiều cao ban đầu */
  background-color: #ff6600;
  margin: 20px auto;

  animation: moveLine 3s infinite ease-in-out;
  border-radius: 2px;
}

@keyframes moveLine {
  0% {
    transform: translateX(0);
    background-color: #ff6600;
    height: 40px;
  }
  25% {
    transform: translateX(30px);
    background-color: #00ccff;
    height: 60px;
  }
  50% {
    transform: translateX(0);
    background-color: #66ff66;
    height: 80px;
  }
  75% {
    transform: translateX(-30px);
    background-color: #ff33cc;
    height: 60px;
  }
  100% {
    transform: translateX(0);
    background-color: #ff6600;
    height: 40px;
  }
}

.suachua_subtext {
  font-size: 2rem;
  font-weight: 600;
  position: relative;
  display: inline-block;
  color: #222;
  padding-bottom: 5px;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 800;
  color: #0a0a0a;
  line-height: 1.4;
}
.suachua_sub {
  text-align: center;
  margin: 20px 0;
}

.suachua_subtext::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: #2774ae;
  bottom: 0;
  left: 0;
  transform-origin: bottom left;
  animation: underlineGrow 4s infinite ease-in-out;
}

@keyframes underlineGrow {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
.line_nav {
  color: #ccc5c5;
  font-size: 14px;
  margin-top: 12px;
  font-weight: 100;
}
.fomrmlh {
  margin-top: 350px;
}
.call-wrapper {
  position: relative;
  display: inline-block;
}

.call-button {
  background-color: #2774ae;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 2;
  position: relative;
}

.call-button i {
  font-size: 1.1rem;
}

.call-pulse {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  background-color: rgba(49, 174, 212, 0.4);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  animation: pulseRing 1.8s infinite ease-out;
}

@keyframes pulseRing {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 1;
  }
  70% {
    transform: translate(-50%, -50%) scale(1.6);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}
.box_gt_2 {
  position: relative;
  .vertical-line {
    position: absolute;
    left: -220px;
    top: 30px;
    width: 6px;
  }
  .vct {
    margin-right: 36px;
  }
}
.contact-item {
  cursor: pointer;
  transition: transform 0.3s ease;
  color: white;
}
.contact-item:hover {
  transform: scale(1.1); /* 1.1 = phóng to 10% */
}
.hex-wrapper {
  width: 160px;
  height: 140px;
  clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
  background: #e42727; /* màu border lục giác */
  display: flex;
  align-items: center;
  justify-content: center;
}

.hex {
  width: 150px; /* nhỏ hơn để tạo viền */
  height: 130px;
  clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
  overflow: hidden;
}

.hex img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div {
  max-width: 100%;
}

.menu {
  display: none;
}
.logo_mobile {
  display: none;
}
.bottom-nav {
  display: none;
}
@media (max-width: 1312px) {
  .bottom-nav {
    display: none;
  }
  .gioithieu {
    h2 {
      max-width: 560px;
      margin: 0 auto; /* căn giữa theo chiều ngang */
      text-align: center;
    }
  }
  .home_gioithieu {
    position: relative;
    max-width: 100%;
    min-width: 50%;
    min-height: 1040px;
    display: flex;
    flex-direction: column;
    .gioithieu {
      max-width: 100%;
      order: 1;
    }
    a {
      order: 2;
      max-width: 50%;
      .img_gt_5 {
        width: calc(31.25vw - 50px);
        height: calc(31.25vw - 50px);
      }
      .img_gt_4 {
        width: calc(31.25vw - 50px);
        height: calc(50vw - 70px);
      }
    }

    .a121 {
      position: absolute;
      right: 0px;
      bottom: 0px;
    }
    .xe {
      width: 400px;
    }
    .vertical-line {
      left: 380px;
      top: -10px;
    }
  }

  #navbar {
    min-width: 1000px;
  }
  .box_xaynha {
    display: flex;
    justify-content: center;
  }
  .home_xaynhatrongoi {
    max-width: 90%;
  }
  .section {
    h2 {
      font-size: 36px;
    }
    .features {
      height: auto;
    }
  }

  .xaynhatrongoi_page {
    width: 90%;
    .bang {
      max-width: 100%;
    }
  }
  .quytrinh {
    max-width: 90%;
  }
  .noibat {
    max-width: 90%;
  }
  .cauhoithuonggap {
    max-width: 90%;

    h4 {
      line-height: 36px;
    }
  }
  .font_def {
    max-width: 90%;
    margin: auto;
  }

  .home_gioithieu {
    h2 {
      max-width: 400px;
      margin: auto;
    }
  }

  .contact {
    min-width: 100%;
  }
}
@media (max-width: 1000px) {
  #navbar {
    min-width: 800px;
    a {
    }
  }
  .bottom-nav {
    display: none;
  }
}
@media (max-width: 800px) {
  .nav_sub {
    min-width: 400px;
    max-width: 100vw;
  }
  #navbar {
    max-width: 100vw;
    min-width: 390px;

    a {
      display: none;
    }
    p {
      display: none;
    }
  }
  .menu {
    display: block;
    width: 50px;
    height: 50px;
    color: #fff;
    background-color: #2774ae;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo_mobile {
    display: block !important;
    width: 100px;
    img {
      width: 140px;
      height: 70px;
    }
  }
  .gioithieu {
    margin-top: -100px;
    h2 {
      font-size: 36px;
      font-weight: 800;
    }
    h4 {
      font-size: 18px;
    }
    .vertical-line {
      left: 300px;
      top: -10px;
      width: 8px;
    }
  }
  .img_gt_5 {
    width: 120px !important;
    height: 120px !important;
  }
  .img_gt_4 {
    width: 120px !important;
    height: 240px !important;
  }
  .home_gioithieu {
    min-height: 878px;
  }
  .xe {
    width: 200px !important;
    left: -56px !important;
  }
  .section {
    h2 {
      margin-top: 0px;
      font-size: 36px;
      font-weight: 800;
    }
    p {
      font-size: 18px;
    }
  }
  .features {
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
  }

  .feature-box {
    width: 120px;

    height: 192px;
  }

  .feature-icon {
    font-size: 16px;
    color: #2774ae;
    margin-bottom: 0px;
    margin-top: -10px;
  }

  .feature-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .feature-description {
    font-size: 14px;

    color: #555;
  }
  .feature-blob {
    padding: 10px;
    width: 130px;
    height: 180px;
    position: relative;
    clip-path: polygon(
      10% 0%,
      90% 5%,
      100% 25%,
      95% 90%,
      70% 100%,
      20% 95%,
      0% 60%,
      5% 10%
    );
    transition: all 0.4s ease;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  .suachua {
    margin-top: 40px;
    .suachua_subtext {
      font-size: 28px;
    }
    .font_def {
      font-size: 18px;
    }
  }
  .contact {
    padding: 10px 0px;
    a {
      font-size: 10px;
    }
    .contact-item {
      display: flex;
      flex-direction: column;
      min-width: 60px;
      padding: 0 10px;
    }
    .contact_pc {
      display: none;
    }
  }
  .footer {
    padding-top: 10px;
    .footer-content {
      gap: 0px;
    }
    a {
      font-size: 14px;
    }
  }
  .box_gt_2 {
    h4 {
      font-size: 16px;
    }
    img {
      width: 260px;
      height: 260px;
    }
    h2 {
      font-size: 28px;
      max-width: 240px;

      .vct {
        margin-right: 24px;
      }

      span {
        font-size: 28px;
        white-space: nowrap;
      }
      .vertical-line {
        left: 250px;
      }
    }
  }
  .fomrmlh {
    margin-top: 0px;
  }
  .lienhe_page {
    width: 90%;
    margin: auto;
  }
  .support-wrapper {
    padding-top: 0px;
    margin-bottom: 120px;
  }
  .support-box {
    padding-bottom: 0px;
    padding-top: 0px;
    h4 {
      font-size: 24px;
    }

    p {
      font-size: 18px;
    }
    .support-button {
      font-size: 14px;
    }
  }
  .contact-form {
    h2 {
      font-size: 24px;
    }
    .contact-form input,
    .contact-form select {
      font-size: 14px;
    }
  }
  .bang {
    .title {
      font-size: 18px;
    }
    .uudiem {
      font-size: 18px;
    }
    .nhuocdiem {
      font-size: 18px;
    }
    td {
      font-size: 18px !important;
    }
  }
  .quytrinh {
    h3 {
      font-size: 28px;
    }
    h4 {
      font-size: 18px;
    }
    p {
      font-size: 18px;
    }
  }
  .noibat {
    h3 {
      font-size: 28px;
    }
    h6 {
      font-size: 18px;

      text-align: left;
    }
    .feature-icon {
      margin-left: 10px;
      margin-right: 20px;
    }
  }
  .cauhoithuonggap {
    h3 {
      font-size: 28px;
    }
    h4 {
      font-size: 22px;
    }
    h6 {
      font-size: 18px;
    }
  }
  .suachua_page {
    margin-top: 80px;
  }
  .footer {
    font-size: 16px;
    a {
      font-size: 16px;
    }
  }
  .xaynhatrongoi_page {
    .bang {
      width: 96vw !important;
      max-width: 96vw !important;
    }
  }
  form {
    select {
      height: 48px;
    }
  }
  .menu {
    cursor: pointer;
    z-index: 10;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* làm mờ nền */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .menu-popup {
    background: white;
    padding: 20px;
    border-radius: 8px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .menu-popup button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  #navbar {
    .show_mobile {
      display: block;
    }
  }
  /* Menu popup */
  .menu-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: white;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
  }

  /* Mở từ trái qua phải */
  .slide-in {
    animation-name: slideInFromLeft;
  }

  /* Đóng từ phải qua trái */
  .slide-out {
    animation-name: slideOutToLeft;
  }

  @keyframes slideInFromLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }

  @keyframes slideOutToLeft {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  .menu-popup {
    border-radius: 0px;
    padding: 0px;
    padding-top: 20px;
    text-align: left;
    gap: 0px;
    background-color: #2774ae;
    a {
      color: white;
      padding-left: 20px;
    }
    .active {
      background-color: white;
    }
  }

  .boxpopup {
    width: 96%;
    margin: auto;
    margin-right: 2%;

    .quote-form-container {
      p {
        display: block !important;
      }
    }
  }
  .line_menu {
    display: block;
    height: 1px;
    background-color: #999999;
    width: 100%;
  }
  .bottom-nav {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #2774ae;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0px !important;
    max-width: 100vw;
    z-index: 1000;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
    a {
      padding-bottom: 0px;
      padding-top: 0px;
    }
  }

  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 14px;
    cursor: pointer;
    padding: 11px 8px;
  }

  .nav-item svg {
    margin-bottom: 4px;
  }

  .nav-item.active {
    position: relative;
  }

  .nav-item.active::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    z-index: -1;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  }

  .nav-item.active svg {
    color: #0277bd;
  }
  .zalo_bot {
    padding: 5px 15px;
  }
  .livechat {
    width: 36px;
    height: 36px;
  }
  .livechat_box {
    margin-top: -20px;
    background-color: #2774ae;
    padding-top: 10px;
    border-radius: 30px;
  }
  .footer {
    padding-bottom: 71px;
  }
  .box_xaynha {
    overflow-x: hidden;
  }
}

.box {
  animation: colorPulse 6s infinite;
  animation-fill-mode: forwards;
}

/* Delay mỗi box để hiệu ứng lần lượt */
.box-1 {
  animation-delay: 0s;
}

.box-2 {
  animation-delay: 2s;
}

.box-3 {
  animation-delay: 4s;
}

@keyframes colorPulse {
  0% {
    color: black;
  }
  30% {
    color: #2774ae;
    transform: scale(1.05);
  }
  60% {
    color: black;
  }
  100% {
    color: black;
  }
}
